<TreeView @ref="treeView"
          Model="SubscriptionItemViewModelBase"
          SelectedItemChanged="OnSelectedItemChanged">
    <ItemTemplate Context="item">
        <a href="#" class="tree-item-expand-button @CssUtils.BoolToClass(item.Children.Count == 0, "v-hidden")"
           @onclick="() => OnExpandToggle(item)" @onclick:stopPropagation="true">
            <Icon Glyph="Icons.ChevronDown" Class="tree-item-expand-icon" />
        </a>
        <div class="tree-subscription-icon">
            @if (item.Data.ThumbnailUrl != null)
            {
                <img src="@item.Data.ThumbnailUrl" />
            }
            else
            {
                <Icon Glyph="item.Data.PlaceholderIcon" />
            }
        </div>
        <div class="tree-subscription-name">
            @item.Data.Name
        </div>
        <a @ref="item.Data.ContextMenuLinkReference" href="#"
           class="tree-subscription-menu @CssUtils.BoolToClass(!item.IsSelected, "v-hidden")"
           @onclick="() => OnShowMenu(item)" @onclick:stopPropagation="true">
            <Icon Glyph="Icons.Menu" />
        </a>
        <Menu AttachTo="item.Data.ContextMenuLinkReference" @bind-IsVisible="item.Data.IsContextMenuVisible">
            <MenuItem Click="() => OnEditItem(item)">Edit</MenuItem>
            <MenuItem Click="() => OnSynchronizeItem(item)">Synchronize</MenuItem>
            <MenuItem Click="() => OnDeleteItem(item)">Delete</MenuItem>
        </Menu>
    </ItemTemplate>
</TreeView>

<Dialog @ref="deleteDialog"
        PrimaryButtonCaption="Delete"
        SecondaryButtonCaption="Cancel"
        Caption="Delete?">

    <div class="form-group">
        Are you sure you want to delete @(deleteFolder ? "folder" : "subscription") <em>@deleteItemName</em>?
        <br />
        This operation cannot be undone.
    </div>

    @if (deleteFolder)
    {
        <div class="form-group row">
            <div class="col-xs-12">
                <input id="chk_delete_recursive" type="checkbox"
                       @bind-value="deleteRecursive" />
                <label for="chk_delete_recursive">Delete all subscriptions and subfolders</label>
            </div>
        </div>
    }
    <div class="form-group row">
        <div class="col-xs-12">
            <input id="chk_delete_files" type="checkbox"
                   @bind-value="deleteDownloadedFiles"
                   disabled="@(deleteFolder && !deleteRecursive)" />
            <label for="chk_delete_files">Delete all downloaded videos</label>
        </div>
    </div>

</Dialog>
