@page "/"

<SubscriptionCreateModal @ref="subscriptionCreateModal" />

<FolderCreateModal @ref="folderCreateModal" />

<div class="row">

    <div class="col-xs-3">

        <div class="toolbar">

            <div class="button-group">
                <button type="button" title="Create subscription"
                        @onclick="@CreateSubscription">
                    <Icon Glyph="Icons.SubscriptionNew" />
                </button>

                <button type="button" title="Create folder"
                        @onclick="@CreateFolder">
                    <Icon Glyph="Icons.FolderNew" />
                </button>

                <button type="button" title="Import"
                        @onclick="@Import">
                    <Icon Glyph="Icons.Import" />
                </button>
            </div>
        </div>

        <SubscriptionTree SelectedItemChanged="OnSelectedItemChanged"/>

    </div>

    <div class="col-xs-9">
        <div class="toolbar">

            <div class="button-group">
                <button type="button" title="Order"
                        @onclick="@CreateSubscription">
                    <Icon Glyph="Icons.Sort" />
                </button>

                <button type="button" title="Create folder"
                        @onclick="@CreateFolder">
                    <Icon Glyph="Icons.FolderNew" />
                </button>

                <button type="button" title="Import"
                        @onclick="@Import">
                    <Icon Glyph="Icons.Import" />
                </button>
            </div>
        </div>

        <VideoList @ref="videoList" />
    </div>
</div>