@page "/watch/{videoId:int}"

@if (errorMessage != null)
{
    <div>Error: @errorMessage</div>
}

@if (video != null)
{
    @if (video.IsDownloaded)
    { 
        <Video ShowControls="true"
               AutoPlay="true"
               Error="e => errorMessage = e.Message">
            <source src="@videoStreamUri" type="@video.StreamMimeType"
                    @onerror="e => { errorMessage = e.Message; StateHasChanged(); }"/>
        </Video>
    }
    else
    {
        <div>
            <h2>Video is not yet downloaded</h2>
            TODO: show something here
            <ul>
                <li>TODO: Show embedded video</li>
                <li>TODO: View on original site</li>
                <li>TODO: Download now</li>
            </ul>
        </div>
    }


    <div class="player-view-stats">
        <div class="left-stats">
            <h3>@video?.Name</h3><br>
            <h5>@video.Views Views   •    Posted @video.Published   •    Score @video.Rating/5</h5>
        </div>
        <div class="right-stats"> 
            @video.UploaderName  • <img src="https://i.imgur.com/7DXZees.jpg" alt="ChannelIcon">
        </div>
    </div>

    <div class="video-description">
        @FormattedDescription
    </div>
}
